@model ContactModel
<div class="row">
	
	
	<div class="col-sm-5 col-md-5" >
		@Html.Raw(@Model.Map)	
		<div style="margin-top=-14%;">
			<div class="address">
				<h5><b>Tên cửa hàng : @Model.Name</b></h5>
				<h5>Email : @Model.Email</h5>
				<h5>Liên hệ : @Model.Phone</h5>
				<h5><a href="https://www.facebook.com/quang.hung.368260" target="_blank">Trang cá nhân Admin </a></h5>


			</div>
		</div>
	</div>
	
	
		

		<div class="fb-page" data-href="https://www.facebook.com/DHKIENTRUCHN" data-tabs="timeline" data-width="1400" data-height="100%" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/DHKIENTRUCHN" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/DHKIENTRUCHN">Trường Đại Học Kiến Trúc Hà Nội</a></blockquote></div>

	
	
</div>