@model IEnumerable<ProductModel>
@{
    ViewData["title"] = "Product Listed";
}<style>
     .btn-warning {
         background: linear-gradient(90deg, #fbc2eb, #a6c1ee) !important;
     }

     .btn-primary {
         background: linear-gradient(90deg, #fbc2eb, #a6c1ee) !important;
     }

</style>
<h3>Danh sách sản phẩm</h3>
<a asp-action="Create" asp-controller="Product" class="btn btn-primary">Thêm sản phẩm</a>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Số lượng sản phẩm</th>
            <th scope="col">Sản phẩm đã bán</th>
            <th scope="col">Mô tả sản phẩm</th>
            <th scope="col">Giá sản phẩm</th>
            <th scope="col">Giá vốn sản phẩm</th>
            <th scope="col">Ảnh sản phẩm</th>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Danh mục sản phẩm</th>
            <th scope="col">Thương hiệu sản phẩm</th>
            <th scope="col">Quản lý sản phẩm</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
               
                <td><b>@item.Quantity - </b><a asp-controller="Product" asp-action="AddQuantity" asp-route-Id="@item.Id">Thêm số lượng</a></td>

                <td><b>@item.Sold</b></td>
                <td>@Html.Raw(item.Description)</td>

                <td>@item.Price.ToString("#,##0 ") VNĐ</td>
                <td>@item.CapitalPrice.ToString("#,##0 ") VNĐ</td>
                <td><img src="~/images/@item.Image" width="120" height="80" /></td>
                <td>@item.Slug</td>
                <td>@item.Category.Name</td>
                <td>@item.Brand.Name</td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Product" asp-route-Id="@item.Id">Chính sửa</a>
                    <a asp-action="DeletePRD" class="btn btn-danger btn-sm" asp-controller="Product" asp-route-Id="@item.Id">Xóa</a>
                </td>
               
            </tr>
        }
       
    </tbody>
</table>

              
               
               